a:active{
    color:black;
}
a{
    text-decoration: none;
    color:black;
}
body{
     margin: 0;
       overflow:none;
       width:100%;
       flex-wrap: wrap; 
       text-align: center;
       display:flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: rgb(250, 221, 186);
}
button{
  box-shadow:0px 0px 3px 2px;
  color:white;
}
.box{
    background-image:linear-gradient( rgb(88, 76, 76), rgb(97, 93, 93)); 
    width:100%; 
    height:100vh;
    position: relative;
}
.contact-me{
    margin:0;
    display:flex;
     justify-content: space-around; 
     text-align: center;
     width:100%; 
    flex-wrap: wrap;
}
.container{
     flex-wrap: wrap;
     text-align: center;
    display: flex;
    margin:0;
     overflow:none;
     width:95%;
}
.centre{
    height:100vh;
    width:100%;
    position: relative;
}
.content{
    width:50%; 
    height:25%;
     flex-wrap: wrap; 
    text-align:center;
    flex:1;
    justify-content: space-between;
}
.end-text{
    text-align: center; 
    font-size: 11px;
}
.flex{
  width:auto;
  height:auto;
  
}
fieldset{
    border-style: dotted;
}
.footer{
    width:100%; 
    height:35%;
    flex:1;
    background-image:linear-gradient( rgb(88, 76, 76), rgb(97, 93, 93));
    color: black;
    position:sticky;
}
h2{
    font-weight:90%;
    color:rgba(211, 147, 29, 0.918);
     font-size: 15px; 
}
h3{
    text-align: left;
    color:orange;
    margin-left:2%;
}

hr{
    opacity:0.3;
    width:50%; 
    border-style: dotted none none none;
     text-align: center;
}
.icon{
  width:25px;
  height:25px;
  box-shadow:0px 0px 5px 2px;
  color:white;
  
}
img{
    width:305px;
    height:100vh;
     box-shadow: 0px 3px  3px 0px;
     overflow:none;   
}
.input{
    width:97%;
     border-style:none none solid none;
     height:40px;
     background-color:rgb(250, 221, 186);
}
input:hover{
    cursor: pointer;
  /*  border-radius: 45px;*/
    background-image:linear-gradient( rgb(88, 76, 76), rgb(97, 93, 93));
    color:white;
    /*padding-left:5%;*/
}
.invincible {
 margin:50px;
  
}
legend{
    font-weight:bolder;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
link:hover{
    color:white;
    
}
.link{
  opacity:0.7;
    border:none;
    width:auto;
    height:auto;
    border-radius: 45px;
    background-image:linear-gradient(rgba(231, 219, 219, 0.911), rgba(5, 1, 1, 0.801));
}
.mores{
  display:flex;
  flex-wrap:wrap;
}
.more{
  font-weight:bolder;
}
.my-name{
    left:50%;
    top:85%;
    transform:translate(-50%, -85%);
    width:305px;
    height:15%;
    font-weight: bolder;
    font-size: 55px;
    color:white;
    position:absolute;

}
.my-works{
  float:left;

}
.nav{
     overflow: none;
     text-align: center;
     width:100%;
     border-radius:45px;
     background-color: grey;
     color:white;
     z-index: 1;
     margin-top: 2%;
    position: absolute;
    gap: 2rem;
    height:auto;
}
.nav-name{
    width:15%;
    height:auto;
}
.nav-text{
  background-color: White;
    font-size:0px;
    background-color:rgb(172, 161, 161);
    opacity:1;
    width:auto;
    height:25px;
    border:none;
    border-radius:35px;
}

.nav-text:hover{
transition-duration: .5s;
    font-size:15px;
    border-radius:35px;
    opacity:1;
    background-color:rgb(228, 205, 205);
    color:black;
} 
p{
    font-size: 12px;
    color: aquamarine white;
}
.portfolio{
    font-size: 15px;
}
.profile-pic{
   max-width:100%;
    height:100hv;
}
.pt{
  /*display:flex;*/
  flex-wrap:wrap;
  text-align:center;
  width:100%;
}
.service-container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   overflow: none;
   border:5px;
}
.service-containers{
    width:100%;
    height:5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: none;  
}
.service{
    width:50%;
    flex: 1; 
    border:5px;
    border:15px;
}
.side-nav{
  margin-left:2%;
    width:auto;
    height:auto;
    position: fixed;
    transform:(-50%);
    top:50%;
}
.side-pic{
    width:20px;
    height:20px;
    opacity:0.7;
    box-shadow: none;
    border:none;
}
.side-pic:hover{
    width:0px;
    height:0px;
}
.scroll-container{
  width:100%
  height:auto;
  text-align:center;
}
.scroll-text{
  transform:translateY(50);
  animation-duration:2s;
 /* background-repeat-x:infinte;*/
}
.sty{
  border:radius:45px;
  color:white;
  margin-top:3%;
  box-shadow: 0px 0px 0px 0px;
  
}
.style{
  border-radius:10px;
  flex:1;
  width:100px;
  height:100px;
}
.submit{
  text-align:center;
  color:white;
  background-image:linear-gradient(rgba(231, 219, 219, 0.911), rgba(5, 1, 1, 0.801));
  border-radius:45px;
.super{
    font-size: 7px;
}
tbody{
    width:100%;
}
 td{
width:50%; 
height:25%;
gap:2rem;
border:3px solid rgb(250, 221, 186);
}
.contain{
   animation-name: myAnimation;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-direction: reverse;
   position: relative;
   width: 100%;
   height: auto;
}
      .yc{
        flex:1;
        text-align:center;
      }
      
         .dd {
         position: absolute;
         display: inline-block;
         width:100%;
      }
      .dd-content {
         position: absolute;
         width: 100%;
         box-shadow: 0 18px 36px rgba(0,0,0,0.30), 0 14px 11px rgba(0,0,0,0.22);
         height: 0px;
         transition: height 1s;
         overflow: hidden;
      }
      .dd:hover > .dd-content {
        width:100%;
         height:auto;
      }
      .dd-content > a {
         display: block;
         padding: 15px;
         text-decoration: none;
         color: black;
      }
      